body {
  overflow-x: hidden;
}

h1 {
  margin-bottom: 5px;
}

.rp {
  display: none;
}

#pemakaian,
#hasil {
  color: red;
}

footer {
  margin-left: 15px;
  font-style: italic;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

footer a {
  color: black;
  text-decoration: underline;
}

.totalTagihan {
  font-weight: bolder;
  font-size: larger;
}

#kelompokPelanggan {
  font-weight: bolder;
  color: red;
}