* {
  margin: 0;
  padding: 0;
}

h1 {
  margin-bottom: 5px;
}

.container {
  margin-left: 15px;
}

.form {
  font-size: 1.5em;
  margin-top: 8px;
  margin-left: 10px;
}

select,
input {
  margin-top: 2px;
  margin-bottom: 8px;
  font-size: 20px;
  height: 30px;
}

#containerhasil {
  margin-top: 20px;
  margin-left: 10px;
  font-size: 1.8em;
  font-weight: bolder;
}

.rincian {
  font-size: 0.65em !important;
  font-weight: lighter !important;
}

.rp {
  display: none;
}

#submit {
  font-size: 1.5em;
  height: 50px;
  width: 120px;
}

#pemakaian,
#hasil {
  color: red;
}

footer {
  margin-left: 15px;
  font-style: italic;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

footer a {
  color: black;
  text-decoration: underline;
}